@page "/"

<PageTitle>Product Management</PageTitle>

<head>
    <link rel="stylesheet" href="css/popup.css">
</head>
<body>
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="/">
                <h2 class="textlogo-h2">
                    Sixteen <em class="textlogo-em">Furnishings</em>
                </h2>
            </a>
            <a class="navbar-brand brand-logo-mini" href="/">
                <img src="admin-images/logo-mini.svg" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center"
                    type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <div class="search-field d-none d-xl-block">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0"
                               placeholder="Search products">
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="admin-images/admin_icon.png" alt="image" width="24" height="24">
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">Admin</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm"
                         aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                        <div class="p-2">
                            <a class="dropdown-item py-1 d-flex align-items-center justify-content-between"
                               href="#">
                                <span>Setting</span>
                                <i class="mdi mdi-logout ms-1"></i>
                            </a>
                        </div>
                        <div class="p-2">
                            <a class="dropdown-item py-1 d-flex align-items-center justify-content-between"
                               href="#">
                                <span>Log Out</span>
                                <i class="mdi mdi-logout ms-1"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                    type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                        <span class="menu-title">Product management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categorymanagement">
                        <span class="icon-bg"><i class="mdi mdi-apps menu-icon"></i></span>
                        <span class="menu-title">Category management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ordermanagement">
                        <span class="icon-bg"><i class="mdi mdi-clipboard-text menu-icon"></i></span>
                        <span class="menu-title">Order Management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistic">
                        <span class="icon-bg">
                            <i class="mdi mdi-chart-areaspline menu-icon"></i>
                        </span>
                        <span class="menu-title">Statistic</span>
                    </a>
                </li>
                <li class="nav-item sidebar-user-actions">
                    <div class="user-details">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="nav-profile-img">
                                        <img src="admin-images/admin_icon.png" alt="image" width="24" height="24">
                                    </div>
                                    <div class="sidebar-profile-text" style="margin-left:12px;">
                                        <p style="margin:0;">Admin</p>
                                    </div>
                                </div>
                            </div>
                            <div class="badge badge-danger">3</div>
                        </div>
                    </div>
                </li>
                <li class="nav-item sidebar-user-actions">
                    <div class="sidebar-user-menu">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-settings menu-icon"></i>
                            <span class="menu-title">Settings</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item sidebar-user-actions">
                    <div class="sidebar-user-menu">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-logout menu-icon"></i>
                            <span class="menu-title">Log Out</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-9 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Choose category</h4>
                                <div class="d-flex flex-row">
                                    <div>
                                        <h5>Level 1</h5>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle"
                                                    type="button" id="dropdownMenuOutlineButton2"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                @SelectedCategoryLV1Text
                                            </button>
                                            <div class="dropdown-menu"
                                                 aria-labelledby="dropdownMenuOutlineButton2">
                                                @foreach(var item in categoryListLV1)
                                                {
                                                    <a class="dropdown-item" @onclick="(() => SelectLV1Category(item.Id!, item.Text!))">@item.Text</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 24px;">
                                        <h5>Level 2</h5>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle"
                                                    type="button" id="dropdownMenuOutlineButton2"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                @SelectedCategoryLV2Text
                                            </button>
                                            <div class="dropdown-menu"
                                                 aria-labelledby="dropdownMenuOutlineButton2">
                                                @foreach (var item in categoryListLV2)
                                                {
                                                    <a class="dropdown-item" @onclick="(() => SelectLV2Category(item.Id!, item.Text!))">@item.Text</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 24px;">
                                        <h5>Level 3</h5>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle"
                                                    type="button" id="dropdownMenuOutlineButton2"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                @SelectedCategoryLV3Text
                                            </button>
                                            <div class="dropdown-menu"
                                                 aria-labelledby="dropdownMenuOutlineButton2">
                                                @foreach (var item in categoryListLV3)
                                                {
                                                    <a class="dropdown-item" @onclick="(() => SelectLV3Category(item.Id!, item.Text!))">@item.Text</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">New product</h4>
                                <div>
                                    <h5>Add a new product</h5>
                                    <button type="button" class="btn btn-outline-dark btn-fw" @onclick="ShowAddUpdateProductPopup">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="grid-margin stretch-card d-flex align-items-center">
                                    <div class="col-lg-3 grid-margin stretch-card d-flex align-items-center">
                                        <h4 class="card-title">Product list</h4>
                                    </div>
                                    <div class="col-lg-9 grid-margin stretch-card d-flex align-items-center justify-content-end">
                                        <h4 class="page-title">Sort by</h4>
                                        <div class="dropdown" style="margin-left: 12px;">
                                            <button class="btn btn-outline-secondary dropdown-toggle"
                                                    type="button" id="dropdownMenuOutlineButton2"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                Sort by
                                            </button>
                                            <div class="dropdown-menu"
                                                 aria-labelledby="dropdownMenuOutlineButton2">
                                                <h6 class="dropdown-header">Level1</h6>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Product ID</th>
                                            <th>Product Name</th>
                                            <th>Variant Type</th>
                                            <th>Stock</th>
                                            <th>Grams</th>
                                            <th>Dimension</th>
                                            <th>Purchase Price</th>
                                            <th>Sale Price</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in productList)
                                        {
                                            <tr @onclick="(() => SelectProduct(product.Id!))">
                                                <td>@product.ProductId</td>
                                                <td class="product-col-2">
                                                    @product.Name
                                                </td>
                                                <td>@product.VariationDetail.Value</td>
                                                <td>@product.Stock</td>
                                                <td>@product.Grams</td>
                                                <td>@($"{product.Dimensions.Height}x{product.Dimensions.Width}x{product.Dimensions.Depth}")</td>
                                                <td>@product.PurchasePrice</td>
                                                <td>@product.SalePrice</td>
                                                @if (product.Status == "In Stock")
                                                {
                                                    <td><label class="badge badge-success">In Stock</label></td>
                                                }
                                                else if (product.Status == "Low Stock")
                                                {
                                                    <td><label class="badge badge-warning">Low Stock</label></td>
                                                }
                                                else
                                                {
                                                    <td><label class="badge badge-danger">Out of Stock</label></td>
                                                }
                                                <td>
                                                    <div class="d-flex gap-1">
                                                        <button class="update-btn-product-table" @onclick="() => UpdateProduct(product.Id)">
                                                            <span class="mdi mdi-pencil-box"></span>
                                                        </button>
                                                        <button class="delete-btn-product-table" @onclick="() => DeleteProduct(product.Id)">
                                                            <span class="mdi mdi mdi-delete"></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            @if (isClicked)
                                            {
                                                @foreach (var product2 in productVariantList)
                                                {
                                                    @if (product.Id != product2.Id)
                                                    {
                                                        <tr>
                                                            <td>@product2.ProductId</td>
                                                            <td class="product-col-2">
                                                                @product2.Name
                                                            </td>
                                                            <td>@product2.VariationDetail.Value</td>
                                                            <td>@product2.Stock</td>
                                                            <td>@product2.Grams</td>
                                                            <td>@($"{product2.Dimensions.Height}x{product.Dimensions.Width}x{product.Dimensions.Depth}")</td>
                                                            <td>@product2.PurchasePrice</td>
                                                            <td>@product2.SalePrice</td>
                                                            @if (product2.Status == "In Stock")
                                                            {
                                                                <td><label class="badge badge-success">In Stock</label></td>
                                                            }
                                                            else if (product.Status == "Low Stock")
                                                            {
                                                                <td><label class="badge badge-warning">Low Stock</label></td>
                                                            }
                                                            else
                                                            {
                                                                <td><label class="badge badge-danger">Out of Stock</label></td>
                                                            }
                                                            <td>
                                                                <div class="d-flex gap-1">
                                                                    <button class="update-btn-product-table" @onclick="() => UpdateProduct(product.Id)">
                                                                        <span class="mdi mdi-pencil-box"></span>
                                                                    </button>
                                                                    <button class="delete-btn-product-table" @onclick="() => DeleteProduct(product.Id)">
                                                                        <span class="mdi mdi mdi-delete"></span>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            isClicked = false;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Pagination-->
                    <div class="d-flex justify-content-center align-content-center">
                        <ul class="pagination" >
                            
                            @if (pageNumberList != null && pageNumberList.Count > 0)
                            {
                                <li class="page-item" @onclick="PreviousPage">
                                    <a class="page-link">Previous</a>
                                </li>

                                @if (pageNumberList[0] > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link">...</a>
                                    </li>
                                }

                                int maxPageNumbersToShow = 5;
                                @for (var i = 0; i < maxPageNumbersToShow && i < pageNumberList.Count; i++)
                                {
                                    var selectedPageNum = pageNumberList[i];
                                    <li class="@((selectedPageNum == selectedPageNumber) ? "page-item active" : "page-item")"
                                        @onclick="(() => SelectPageNumber(selectedPageNum!))">
                                        <a class="page-link">@selectedPageNum</a>
                                    </li>
                                }

                                @if (pageNumberList.Count > maxPageNumbersToShow)
                                {
                                    <li class="page-item">
                                        <a class="page-link">...</a>
                                    </li>
                                }

                                <li class="page-item">
                                    <a class="page-link" @onclick="NextPage">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="footer-inner-wraper">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                            Copyright
                            © <a href="https://www.bootstrapdash.com/" target="_blank">
                                bootstrapdash.com
                            </a>2021
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Only
                            the best <a href="https://www.bootstrapdash.com/"
                                        target="_blank"> Bootstrap dashboard </a> templates
                        </span>
                    </div>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <!-- Add update product popup-->
    <div class="model" hidden="@isHidden">
      <div class="add-product-form">
        <div class="model_header d-flex align-items-center">
          <div class="col-lg-9">
            <label class="model_header_title">Add product form</label>
          </div>
          <div class="col-lg-3 d-flex justify-content-end">
                    <button class="model_close_btn_size align-self-center" onclick="@CloseAddUpdatePopup">
              <span class="mdi mdi-close"></span>
            </button>
          </div>
        </div>
        <div class="model_main">
          <div class="row">
            <div class="col-lg-4">
              <div class="model_main_image position-relative">
                <img class="model_main_square"
                  src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                <button
                  class="model_close_btn_black_small position-absolute top-0 end-0"
                  style="font-size: 2rem;">
                  <span class="mdi mdi-close text-end"></span>
                </button>
              </div>
              <div class="d-flex justify-content-center">
                <button class="model_add_img_btn">Add a featured image</button>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="model_main_image position-relative">
                      <img class="model_main_square"
                        src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                      <button
                        class="model_close_btn_black_small position-absolute top-0 end-0"
                        style="padding: 0;">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="model_main_image position-relative">
                      <img class="model_main_square"
                        src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                      <button
                        class="model_close_btn_black_small position-absolute top-0 end-0"
                        style="padding: 0;">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="model_main_image position-relative">
                      <img class="model_main_square"
                        src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                      <button
                        class="model_close_btn_black_small position-absolute top-0 end-0"
                        style="padding: 0;">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="model_main_image position-relative">
                      <img class="model_main_square"
                        src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                      <button
                        class="model_close_btn_black_small position-absolute top-0 end-0"
                        style="padding: 0;">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="model_main_image position-relative">
                      <img class="model_main_square"
                        src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                      <button
                        class="model_close_btn_black_small position-absolute top-0 end-0"
                        style="padding: 0;">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="model_main_image position-relative">
                      <img class="model_main_square"
                        src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                      <button
                        class="model_close_btn_black_small position-absolute top-0 end-0"
                        style="padding: 0;">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="model_main_image position-relative">
                      <img class="model_main_square"
                        src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                      <button
                        class="model_close_btn_black_small position-absolute top-0 end-0"
                        style="padding: 0;">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="model_main_image position-relative">
                      <img class="model_main_square"
                        src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                      <button
                        class="model_close_btn_black_small position-absolute top-0 end-0"
                        style="padding: 0;">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                  </div>
                    <div class="col-12 col-md-4" style="border-radius: 5px;">
                        <button class="img-button"
                                style="border: none; padding: 0; background: none;">
                            <img class="model_main_square" style="border-radius: 5px;"
                                    src="admin-images/addnew.png" alt="image">
                        </button>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <input class="model_main_input" placeholder="Product name" />
              <div class="row" style="margin-top: 24px;">
                <div class="col-lg-6">
                  <div style="margin-right: 24px;">
                    <div class="model_main_div_children">
                      <label class="model_main_label"
                        style="color: black;">Product
                        weight (grams)</label>
                      <input
                        class="number-none-updown model_main_input_children"
                        type="number" min="0" />
                    </div>
                    <div class="model_main_div_children">
                      <label class="model_main_label"
                        style="color: black;">Category
                        level 1</label>
                      <div class="dropdown">
                        <button class="model_main_label_inside" type="button"
                          id="dropdownMenuOutlineButton2"
                          data-bs-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" style="width: 100%;">
                          <div class="Row d-flex align-items-center">
                            <span class="menu-title col-lg-11">Choose
                              category</span>
                            <span class="icon-bg col-lg-1 text-end"><i
                                class="mdi mdi-chevron-down menu-icon"></i></span>
                          </div>
                        </button>
                        <div class="dropdown-menu"
                          aria-labelledby="dropdownMenuOutlineButton2"
                          style="width: 100%;">
                          <h6 class="dropdown-header">Level1</h6>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else
                            here</a>
                        </div>
                      </div>
                    </div>
                    <div class="model_main_div_children">
                      <label class="model_main_label"
                        style="color: black;">Category
                        level 2</label>
                      <div class="dropdown">
                        <button class="model_main_label_inside" type="button"
                          id="dropdownMenuOutlineButton2"
                          data-bs-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" style="width: 100%;">
                          <div class="Row d-flex align-items-center">
                            <span class="menu-title col-lg-11">Choose
                              category</span>
                            <span class="icon-bg col-lg-1 text-end"><i
                                class="mdi mdi-chevron-down menu-icon"></i></span>
                          </div>
                        </button>
                        <div class="dropdown-menu"
                          aria-labelledby="dropdownMenuOutlineButton2"
                          style="width: 100%;">
                          <h6 class="dropdown-header">Level1</h6>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else
                            here</a>
                        </div>
                      </div>
                    </div>
                    <div class="model_main_div_children">
                      <label class="model_main_label"
                        style="color: black;">Category
                        level 3</label>
                      <div class="dropdown">
                        <button class="model_main_label_inside" type="button"
                          id="dropdownMenuOutlineButton2"
                          data-bs-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" style="width: 100%;">
                          <div class="Row d-flex align-items-center">
                            <span class="menu-title col-lg-11">Choose
                              category</span>
                            <span class="icon-bg col-lg-1 text-end"><i
                                class="mdi mdi-chevron-down menu-icon"></i></span>
                          </div>
                        </button>
                        <div class="dropdown-menu"
                          aria-labelledby="dropdownMenuOutlineButton2"
                          style="width: 100%;">
                          <h6 class="dropdown-header">Level1</h6>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else
                            here</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div style="margin-left: 24px;">
                    <div class="model_main_div_children">
                      <label class="model_main_label"
                        style="color: black;">Dimension</label>
                      <div class="Row d-flex">
                        <div class="col-lg-4 d-flex gap-2">
                          <input
                            class="number-none-updown model_main_input_children"
                            type="number" min="0"
                            placeholder="Length"
                            style="margin-right: 4px;" />
                        </div>
                        <div class="col-lg-4 d-flex">
                          <input
                            class="number-none-updown model_main_input_children"
                            type="number" min="0"
                            placeholder="Width"
                            style="margin-right: 2px; margin-left: 2px;" />
                        </div>
                        <div class="col-lg-4 d-flex">
                          <input
                            class="number-none-updown model_main_input_children"
                            type="number" min="0"
                            placeholder="Height"
                            style="margin-left: 4px;" />
                        </div>
                      </div>

                    </div>
                    <div class="model_main_div_children">
                      <label class="model_main_label"
                        style="color: black;">Purchase
                        price</label>
                      <input
                        class="number-none-updown model_main_input_children"
                        type="number" min="0" />
                    </div>
                    <div class="model_main_div_children">
                      <label class="model_main_label" style="color: black;">Sale
                        price</label>
                      <input
                        class="number-none-updown model_main_input_children"
                        type="number" min="0" />
                    </div>
                    <div class="row model_main_div_children">
                      <label class="model_main_label"
                        style="color: black;">Stock</label>
                      <input class="model_main_input_children" type="number"
                        min="0" max="99" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="model_main_div_children">
                <div class="model_main_div_children">
                  <label class="model_main_label" style="color: black;">Product
                    description</label>
                  <textarea class="model_main_input_children"
                    rows="8"></textarea>
                </div>
              </div>
              <div
                class="d-flex model_main_div_children align-items-center gap-2">
                <label class="model_main_label"
                  style="color: black; margin-top: 4px;">Has variant:</label>
                            <input type="checkbox" id="check" class="toggle-btn-red" @onchange="VariantToggleCheckbox">
                <label for="check" class="button toggle-button-red"></label>
              </div>
              <div class="model_main_div_children" hidden="@isHiddenVariant">
                <div class="row">
                  <div
                    class="model_main_div_children col-lg-12 d-flex align-items-center">
                    <div
                      class="model_main_div_children col-lg-9 d-flex align-items-center gap-2">
                      <label class="model_main_label"
                        style="color: black; font-size: 1.1rem">Variant
                        Name:</label>
                      <input class="model_main_input_vertical"
                        placeholder="Product name" />
                    </div>
                    <div
                      class="model_main_div_children col-lg-3 justify-content-end align-items-center">
                      <button type="button"
                        class="btn btn-outline-dark btn-fw">Add
                        a variant type</button>
                    </div>
                  </div>
                  <div
                    class="model_main_div_children model_main_border col-lg-12"
                    style="padding: 10px;">
                    <div class="d-flex">
                      <label class="model_main_labe col-lg-11"
                        style="color: black; font-weight: 600;">Variant
                        1:</label>
                      <button
                        class="model_close_btn_black_small align-self-center text-end col-lg-1">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                    <div
                      class="model_main_div_children col-lg-12 d-flex align-items-center"
                      style="padding: 10px;">
                      <div
                        class="Row d-flex col-lg-12 align-items-start">
                        <div
                          class="col-lg-2 model_main_image position-relative"
                          style="padding-right: 12px;">
                          <img class="model_main_square"
                            src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                          <button
                            class="model_close_btn_black_small position-absolute top-0 end-0"
                            style="font-size: 1rem; padding-right:16px ;">
                            <span class="mdi mdi-close text-end"></span>
                          </button>
                        </div>
                        <div class="Row col-lg-10 d-flex">
                          <div class="col-lg-6 model_main_div_children"
                            style="padding-right: 12px; margin-bottom: 0px;">
                            <div class="model_main_div_children">
                              <label class="model_main_label"
                                style="color: black;">Variant type</label>
                              <input
                                class="model_main_input_children"
                                placeholder="Variant type" />
                            </div>
                            <div class="model_main_div_children">
                              <label class="model_main_label"
                                style="color: black;">Product
                                weight (grams)</label>
                              <input
                                class="number-none-updown model_main_input_children"
                                type="number" min="0" />
                            </div>
                            <div class="model_main_div_children"
                              style="margin-bottom: 0px;">
                              <label class="model_main_label"
                                style="color: black;">Purchase price</label>
                              <input
                                class="number-none-updown model_main_input_children"
                                type="number" min="0" />
                            </div>
                          </div>
                          <div class="col-lg-6 model_main_div_childre"
                            style="padding-left: 12px; margin-bottom: 0px;">
                            <div class="model_main_div_children">
                              <label class="model_main_label"
                                style="color: black;">Stock</label>
                              <input class="model_main_input_children"
                                type="number"
                                min="0" max="99" />
                            </div>
                            <div class="model_main_div_children">
                              <label class="model_main_label"
                                style="color: black;">Dimension</label>
                              <div class="Row d-flex">
                                <div class="col-lg-4 d-flex gap-2">
                                  <input
                                    class="number-none-updown model_main_input_children"
                                    type="number" min="0"
                                    placeholder="Length"
                                    style="margin-right: 4px;" />
                                </div>
                                <div class="col-lg-4 d-flex">
                                  <input
                                    class="number-none-updown model_main_input_children"
                                    type="number" min="0"
                                    placeholder="Width"
                                    style="margin-right: 2px; margin-left: 2px;" />
                                </div>
                                <div class="col-lg-4 d-flex">
                                  <input
                                    class="number-none-updown model_main_input_children"
                                    type="number" min="0"
                                    placeholder="Height"
                                    style="margin-left: 4px;" />
                                </div>
                              </div>
                            </div>
                            <div class="model_main_div_children"
                              style="margin-bottom: 0px;">
                              <label class="model_main_label"
                                style="color: black;">Sale price</label>
                              <input
                                class="number-none-updown model_main_input_children"
                                type="number" min="0" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="model_main_div_children model_main_border col-lg-12"
                    style="padding: 10px;">
                    <div class="d-flex">
                      <label class="model_main_labe col-lg-11"
                        style="color: black; font-weight: 600;">Variant
                        2:</label>
                      <button
                        class="model_close_btn_black_small align-self-center text-end col-lg-1">
                        <span class="mdi mdi-close text-end"></span>
                      </button>
                    </div>
                    <div
                      class="model_main_div_children col-lg-12 d-flex align-items-center"
                      style="padding: 10px;">
                      <div
                        class="Row d-flex col-lg-12 align-items-start">
                        <div
                          class="col-lg-2 model_main_image position-relative"
                          style="padding-right: 12px;">
                          <img class="model_main_square"
                            src="https://rhomeco.com/cdn/shop/files/andersoncanopybed-knollnatural-fourhandsbedroomfurniture.webp?v=1699323751&width=1200" />
                          <button
                            class="model_close_btn_black_small position-absolute top-0 end-0"
                            style="font-size: 1rem; padding-right:16px ;">
                            <span class="mdi mdi-close text-end"></span>
                          </button>
                        </div>
                        <div class="Row col-lg-10 d-flex">
                          <div class="col-lg-6 model_main_div_children"
                            style="padding-right: 12px; margin-bottom: 0px;">
                            <div class="model_main_div_children">
                              <label class="model_main_label"
                                style="color: black;">Variant type</label>
                              <input
                                class="model_main_input_children"
                                placeholder="Variant type" />
                            </div>
                            <div class="model_main_div_children">
                              <label class="model_main_label"
                                style="color: black;">Product
                                weight (grams)</label>
                              <input
                                class="number-none-updown model_main_input_children"
                                type="number" min="0" />
                            </div>
                            <div class="model_main_div_children"
                              style="margin-bottom: 0px;">
                              <label class="model_main_label"
                                style="color: black;">Purchase price</label>
                              <input
                                class="number-none-updown model_main_input_children"
                                type="number" min="0" />
                            </div>
                          </div>
                          <div class="col-lg-6 model_main_div_childre"
                            style="padding-left: 12px; margin-bottom: 0px;">
                            <div class="model_main_div_children">
                              <label class="model_main_label"
                                style="color: black;">Stock</label>
                              <input class="model_main_input_children"
                                type="number"
                                min="0" max="99" />
                            </div>
                            <div class="model_main_div_children">
                              <label class="model_main_label"
                                style="color: black;">Dimension</label>
                              <div class="Row d-flex">
                                <div class="col-lg-4 d-flex gap-2">
                                  <input
                                    class="number-none-updown model_main_input_children"
                                    type="number" min="0"
                                    placeholder="Length"
                                    style="margin-right: 2px;" />
                                </div>
                                <div class="col-lg-4 d-flex">
                                  <input
                                    class="number-none-updown model_main_input_children"
                                    type="number" min="0"
                                    placeholder="Width"
                                    style="margin-right: 2px; style="margin-left: 2px;" />
                                </div>
                                <div class="col-lg-4 d-flex">
                                  <input
                                    class="number-none-updown model_main_input_children"
                                    type="number" min="0"
                                    placeholder="Height"
                                    style="margin-left: 4px;" />
                                </div>
                              </div>
                            </div>
                            <div class="model_main_div_children"
                              style="margin-bottom: 0px;">
                              <label class="model_main_label"
                                style="color: black;">Sale price</label>
                              <input
                                class="number-none-updown model_main_input_children"
                                type="number" min="0" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="model_main_div_children d-flex align-items-center justify-content-center gap-4">
            <button type="button" class="btn btn-outline-red btn-fw">Save
              changed</button>
            <button type="button"
              class="btn btn-outline-red btn-fw">Cancel</button>
          </div>
        </div>
      </div>
    </div>
</body>

<script src="misc.js"></script>
